<!DOCTYPE html>
<footer>
    <div class="center-footer">
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/pub/joseph-verbeck/65/544/b2a">
                    <span style="font-size: 58px; color: black;">
                        <i class="fab fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/josephverbeck">
                    <span style="font-size: 58px; color: black;">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
            </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Joseph Verbeck 2019</p>
    </div>
</footer>