<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="application.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<header>
    <% include ./partials/header %>
</header>

<body>
    <div class="hero-image about">
        <div class="hero-text">
            <h1>Details</h1>
            <h4>About Me<h4>
        </div>
    </div>
    <div class="container center">
        <div class="row">
            <div class="container4">
                <p>Resumé Download:
                   <a href="about/download">Joseph_Verbeck.pdf</a>
                </p>
                <hr>
                <p>Hello, I'm Joseph Verbeck a Software Engineer living in Ellicott City, MD.  I currently work at Essex Manangement, as a Software Engineer, on a project that helps manage Cancer Trials.  I enjoy taking complex problems and turning them into elegant and cleanly written solutions that are easy to follow.</p>
            </div>
        </div>
    </div>
</body>

<footer>
    <% include ./partials/footer %>
</footer>


</html>
