<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="application.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <header>
    <% include ./partials/header %>
  </header>

  <body>
    <div class="hero-image home">
      <div class="hero-text">
        <h1>Joseph Verbeck</h1>
        <h4>Software Engineer<h4>
      </div>
    </div>
  </body>

  <footer>
      <% include ./partials/footer %>
  </footer>
</html>