<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="application.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
    
  <header>
    <% include ./partials/header %>
  </header>

  <body>
      <div class="hero-image project">
          <div class="hero-text">
            <h1>Projects</h1>
            <h4>Portfolio<h4>
          </div>
        </div>
        <br>
        <div class="outter">
          <div class="inside thumbnail img">
            <a href="https://github.com/josephverbeck/slack-logger">
              <img src="images/thumbnails/1.jpg" class="thumbnail"/>
              <div class="overlay">
                <div class="text">Slack-Logger</div>
              </div>
            </a>
          </div>
          <div class="inside thumbnail img">
            <a href="https://github.com/josephverbeck/heroku_node_backend">
              <img src="images/thumbnails/dna-strands.jpg" class="thumbnail" />
              <div class="overlay">
                <div class="text">NodeJS Backend</div>
              </div>
            </a>
          </div>
          <div class="inside thumbnail img">
            <a href="https://github.com/josephverbeck/joeyandtiffany">
              <img src="images/thumbnails/wedding.jpg" class="thumbnail" />
              <div class="overlay">
                <div class="text">Wedding Website</div>
              </div>
            </a>
          </div>
        </div>
  </body>

  <footer>
    <% include ./partials/footer %>
  </footer>
</html>